
.root{
    -fx-font-family: "Segoe UI", "Roboto", "Arial";
    -fx-font-size: 13px;

    -fx-accent: #3B82F6;
    -fx-focus-color: #3B82F6;
    -fx-faint-focus-color: rgba(59,130,246,0.18);

    -fx-background-color: #F4F6FA;
}

/* Inputs */
.text-field, .text-area{
    -fx-background-color: white;
    -fx-border-color: #D7DCE7;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 7 10 7 10;
}

.text-field:focused, .text-area:focused{
    -fx-border-color: -fx-accent;
}

/* ComboBox y Spinner (borde suave) */
.combo-box-base, .spinner{
    -fx-background-color: white;
    -fx-border-color: #D7DCE7;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

/* Botones */
.button{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 7 14 7 14;
    -fx-font-weight: 700;

    -fx-background-color: #FFFFFF;
    -fx-border-color: #D7DCE7;
}

.button:hover{
    -fx-background-color: #EEF4FF;
    -fx-border-color: rgba(59,130,246,0.55);
}

.button:default{
    -fx-background-color: -fx-accent;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}

.button.cancel{
    -fx-background-color: #EF4444;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}